/* WireFrame Costom Font */
@media (-moz-pref("wireframe.font", "monocraft")) {
    :root {
        --wireframe-font: "monocraft";
    }
}

@font-face {
    font-family: "monocraft";
    src: local("Monocraft") !important;
    font-weight: var(--wireframe-font_weight) !important;
    font-style: normal;
}

* {
    font-weight: var(--wireframe-font_weight) !important;
    font-family: var(--wireframe-font);
}

/* Wireframe Url Bar */
#urlbar {
    min-height: 40px !important;
}

#urlbar input {
    font-size: 17px !important;
    padding-top: 11px !important;
    padding-bottom: 11px !important;
    line-height: 17px !important;
    }
