@media (-moz-pref("wireframe.font", "monocraft")) {
    :root {
        --wireframe-font: "monocraft";
    }
}

@font-face {
    font-family: "monocraft";
    src: local("Monocraft") !important;
    font-weight: var(--wireframe-font_weight) !important;
    font-style: normal;
}

* {
    font-weight: var(--wireframe-font_weight) !important;
    font-family: var(--wireframe-font);
}
