/* WireFrame Costom Font */
@media (-moz-pref("wireframe.font", "monocraft")) {
    :root {
        --wireframe-font: "monocraft";
    }
}

@font-face {
    font-family: "monocraft";
    src: local("Monocraft") !important;
    font-weight: var(--wireframe-font_weight) !important;
    font-style: normal;
}

* {
    font-weight: var(--wireframe-font_weight) !important;
    font-family: var(--wireframe-font);
}

/* Wireframe Url Bar */
#urlbar {
    min-height: 40px !important;
    font-size: 15px;
}

#urlbar input { /* Target the actual input field within the urlbar */
    font-size: 20px !important;
    padding-top: 11px !important; /* Adjust padding to center text vertically: (40px min-height - 18px font-size) / 2 = 11px */
    padding-bottom: 11px !important;
    line-height: 15px !important; /* Ensure line-height matches font-size for better control */
}
