[submodule "Library/Application Support/zen/Profiles/twilight/chrome/natsumi"]
	path = Library/Application Support/zen/Profiles/twilight/chrome/natsumi
	url = git@github.com:greeeen-dev/natsumi-browser.git
[submodule "Library/Application Support/zen/Profiles/twilight/chrome/wireframe"]
	path = Library/Application Support/zen/Profiles/twilight/chrome/wireframe
	url = git@github.com:napuzu/zen-wireframe.git
