/* Diese Lines in Nebula-config.css fuer farben */
--nebula-essentials-width: 40px !important; /* Edit the "60px" to something less to make width of essentials smaller */
  --nebula-sidebar-width: 16em !important; /* Edit the 20em to any other value you would like for compact sidebar when nebula-compact-mode-sidebar-bg is true */

  /* Tabs color */
  --nebula-color: light-dark(rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)); /* default color */
  --nebula-color-hover: light-dark(rgba(255, 255, 255, 0.35), rgba(167, 61, 133, 0.3)); /* color when hovered */
  --nebula-color-selected: light-dark(rgba(255, 255, 255, 0.45), rgba(86, 169, 145, 0.5)); /* color when selected */

/* Diese Lines in zen-themes/Nebula/Nebula/modules/Animations(tabs).css loeschen fuer keine forward/backward animationen */

/* Previous animation*/
.browserStack:has(
    #historySwipeAnimationPreviousArrow:not([style="translate: none;"])
  )
  browser {
  scale: 0.95 !important;
  transform: translateX(3%) !important;
}

/* Next animation*/
.browserStack:has(
    #historySwipeAnimationNextArrow:not([style="translate: none;"])
  )
  browser {
  scale: 0.95 !important;
  transform: translateX(-3%) !important;

}
